doctype html
html(lang="en")
  head
    title Recipes
    link(
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous"
    )
    link(
      href="styles/index.css"
      rel="stylesheet"
      type="text/css"
    )
  body
    div(class='container')
      each recipe in dataObj
        a(href='/recipes/recipe/' + recipe.name)
          div(class='recipe-container')
            div(class='food-info-div')
              h4=recipe.name
              p= 'Ingredients: ' + recipe.ingredients
              p= 'Cooking Time: ' + recipe.cookingTime
            div(class='food-image-div')
              img(src=recipe.imageUrl alt=recipe.name class='food-image')
